.custom-animation {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
}


.custom-animation.active {
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
}


.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    row-gap: 2rem;
    position: relative;
}



.projects img {
    width:100%;
   height: auto;
   background-attachment: fixed;
   background-size: contain; /* or cover , etc  */
   background-position: center;
   background-repeat: no repeat;
}


.projects-overlay {
        border: 2px solid rgb(44, 44, 44);
        background-color: rgb(18, 18, 18, 0.96);
        /* opacity: 0; */
        /* background-image: linear-gradient(
                    -40deg,#5927E9,#bb1aca); */
}
    
.projects-overlay h1 {
    font-size: 40vw;
    font-family: "HelveticaNowDisplay-Black";
    opacity: 0.2;
    color: #fff;
    text-align: right;
    -webkit-text-stroke: 3px rgba(0,0,0,0.1);

}




@media screen and (min-width: 768px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        grid-template-rows: repeat(3, auto);
    }

}


@media screen and (min-width: 1024px) {
    .projects {
        grid-gap: 2rem;
    }
}

.projects-overlay p {
    color: rgb(182, 182, 182);
    letter-spacing: 1px;
}


.hide-project-overlay {
    opacity: 0;
}


.show-project-overlay {
    opacity: 1;
}