.img-box img {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='6' stroke-dasharray='15%2c 15%2c 1' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 100px;
    box-sizing: border-box;
    object-fit: contain;
    margin: 10px;
}


.programming-lang,.backend,.databases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    place-items: center;
    margin-top: 0px;
    margin-left: 0px;
}


.img-box.programming-lang img, .img-box.backend img, .img-box.databases img {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px;

}


.Frontend,.ui_ux {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-content: center;
    place-items: center;
    margin-top: 0px;
    margin-left: 0px;
}


@media screen and (min-width: 640px) {

    .Frontend,.ui_ux {
        grid-template-columns: 1fr 1fr 1fr;
    }
   .backend {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        padding-top: 30px;
    }
    .databases {
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
    }
}

.img-box.Frontend img,.img-box.ui_ux img {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 20px;
}


@media screen and (min-width: 400px) {

    .img-box.programming-lang img, .img-box.backend img, .img-box.databases img, .img-box.Frontend img,.img-box.ui_ux img {
        height: 100px;
        width: 100px;
        padding: 10px;
        margin: 10px;

    }
    .img-box.Frontend img,.img-box.ui_ux img {
        margin: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .img-box.Frontend img,.img-box.ui_ux img {
        height: 80px;
        width: 80px;
        padding: 10px;
        margin: 20px;
    }
}


.buttons button {
    border: 1px solid rgba(255,255,255,0.1);
}


.buttons button img {
    opacity: 0.3;
}


.buttons button span {
    opacity: 0.6;
    color: #fff;
}



.buttons button {
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    /* border-bottom: 1px solid  rgb(255, 255, 255,0.1); */
}



@media screen and (min-width: 1024px) {
    .buttons button {
        border: none !important;
        padding: 10px !important;
    }
    .buttons button::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
    }
}


.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.buttons button:hover::after {
    transition: none;
    visibility: hidden;
}



.tabs-active {
    background-image: linear-gradient(
		40deg,#5927E9,#FF6D42);
}



.buttons button.tabs-active::after {
    transition: none;
    visibility: hidden;
}


.buttons button.tabs-active img {
    opacity: 1;
}


.buttons button.tabs-active span {
    opacity: 1;
}



.skills-cover::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    width: 160px;
    height: 160px;
    background-color: rgba(243, 70, 142, 0.3);
    box-shadow: -18vw 10vh 0 rgb(89, 39, 233,0.3);
    border-radius: 50%;
    animation: animate 5s linear infinite;
}


.skills-cover::after {
    content: "";
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    background-color: rgb(141, 255, 8, 0.3);
    box-shadow: 20vw -10vh 0 rgb(255, 235, 59,0.3);
    border-radius: 50%;
    animation: animate 5s linear infinite;
    z-index: -1;
}




@media screen and (min-width: 400px) {

    .skills-cover::before {
        top: 30%;
        transform: translate(-50%,-30%);
        width: 230px;
        height: 230px;
        box-shadow: -16vw 10vh 0 rgb(89, 39, 233, 0.3);
    }


    .skills-cover::after {
        bottom: 16%;
        left: 50%;
        transform: translateX(-50%);
        width: 230px;
        height: 230px;
        box-shadow: 13vw -12vh 0 rgb(255, 235, 59,0.3);
    }
}

@media screen and (min-width: 640px) {

    .skills-cover::before {
        top: 40%;
        transform: translate(-50%,-40%);
        width: 300px;
        height: 300px;
        box-shadow: -20vw 8vh 0 rgb(89, 39, 233, 0.3);
    }


    .skills-cover::after {
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 300px;
        box-shadow: 16vw -12vh 0 rgb(255, 235, 59,0.3);
    }
}



@media screen and (min-width: 768px) {

    .skills-cover::before {
        top: 40%;
        transform: translate(-50%,-40%);
        width: 400px;
        height: 400px;
        box-shadow: -15vw 8vh 0 rgb(89, 39, 233, 0.3);
    }


    .skills-cover::after {
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 400px;
        box-shadow: 10vw -8vh 0 rgb(255, 235, 59,0.3);
    }
}
@media screen and (min-width: 1024px) {

    .skills-cover::before {
        top: 40%;
        transform: translate(-50%,-40%);
        width: 400px;
        height: 400px;
        box-shadow: -15vw 8vh 0 rgb(89, 39, 233, 0.3);
    }


    .skills-cover::after {
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 400px;
        box-shadow: 10vw -8vh 0 rgb(255, 235, 59,0.3);
    }
}



@keyframes animate {
    0% {
        filter: blur(80px) hue-rotate(0deg);
    }

    100% {

        filter: blur(80px) hue-rotate(360deg);
    }
}


@media screen and (min-width: 1024px) {
    .main-heading {
        margin-left: 10%;
    }
}


.technologies-section {
    max-height: 1000px;
}
